apiVersion: apps/v1
kind: Deployment
metadata:
  name: calculator-deployment
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: calculator
  template:
    metadata:
      labels:
        app: calculator
    spec:
      containers:
        - name: calculator
          image: ghcr.io/matiassromo/devsecops-calculator:948a09a
          ports:
            - containerPort: 3000
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "250m"
              memory: "256Mi"
