apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-devsecops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo-devsecops
  template:
    metadata:
      labels:
        app: demo-devsecops
    spec:
      containers:
        - name: demo-devsecops
          image: ghcr.io/OWNER/REPO:IMAGE_TAG
          ports:
            - containerPort: 3000
          readinessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 3
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 10
